[submodule "libs/glslang"]
	path = libs/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "libs/SDL_image"]
	path = libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/SDL_mixer"]
	path = libs/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "libs/SDL_ttf"]
	path = libs/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "libs/VulkanMemoryAllocator"]
	path = libs/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
