[submodule "libs/SDL_image"]
	path = libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "libs/SDL_mixer"]
	path = libs/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "libs/SDL_ttf"]
	path = libs/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "libs/paranoixa"]
	path = libs/paranoixa
	url = https://github.com/astomih/paranoixa
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "libs/zep"]
	path = libs/zep
	url = https://github.com/astomih/zep
[submodule "libs/mojoAL"]
	path = libs/mojoAL
	url = https://github.com/icculus/mojoAL
[submodule "libs/sol2"]
	path = libs/sol2
	url = https://github.com/ThePhD/sol2
[submodule "libs/luajit-cmake"]
	path = libs/luajit-cmake
	url = https://github.com/zhaozg/luajit-cmake
[submodule "libs/LuaJIT"]
	path = libs/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "libs/slang"]
	path = libs/slang
	url = https://github.com/shader-slang/slang
[submodule "libs/JoltPhysics"]
	path = libs/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
