name: Documents

on:
  push:
    branches: [ main ]

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Main documents action
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - run: |
          pip install mkdocs-material mkdocs-static-i18n
          mkdocs gh-deploy --force